
img.page-header {
    display: block;
    width: 60;
    height: 60;
    border-radius: 8px;
    margin: 0 auto;
}

.nav_bar {
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 10px;
}

/* Centers the entire nav */
nav {
    display: flex;
    background-color: #1c00ff;
    border-style: solid;
    border-width: 10px;
    border-color: #ffffff;
    flex-direction: column;
    align-items: center; 
    text-align: center;
}

/* Modifies the image buttons */
.navigation-buttons {
    width: 60px; 
    height: 60px;
    margin-top: 15px; 
    border-radius: 10px;
}


.navigation-buttons:hover {
    transform: scale(1.05);
}

/* Modifies the flex1 container */
.flex-container1 {
    display: flex;
    justify-content: center; 
    align-items: center; 
    border-style: solid;
    border-color: #1c00ff;
    background-color: #1c00ff;
    border-width: 10px;
    flex-direction: column;
}


.flex-item1 p{
    display: flex;
    justify-content: center;
    margin-top: 1px;
    align-items: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Gill Sans', sans-serif;
    color:#ffffff;

}


/* Modifies the video file */
.featuredvideo{
    width: 100%; 
    max-width: 10000px; 
    height: auto;

}

/* Modifies the greetings section*/
.flex-item2 h1, h2{
    border-style: solid;
    background-color: #ffffff;
    border-width: 10px;
    text-align: center;
    font-family: 'Gill Sans', sans-serif;
    color: #1c00ff;
}

.flex-item2 p{
    text-align: justify;
    font-family: 'Gill Sans', sans-serif;
    color: #ffffff;
    margin-left: 50px;
    margin-right: 50px;

}


.flex-container2 {
    display: flex;
    border-style: solid;
    justify-content: space-around; 
    align-items: flex-start; 
    border-style: solid;
    border-width: 10px;
    border-color: #ffffff;
    flex-direction: row;
    gap:20px;
    padding: 10px;
    margin-bottom: 0px;
}
/* Modifies the projects section*/
.flex-container3 {
    display: flex;
    border-style: solid;
    justify-content: space-around; 
    align-items: flex-start; 
    border-style: solid;
    border-width: 10px;
    border-color: #ffffff;
    flex-direction: row;
    gap:20px;
    padding: 20px;
    margin-top: 0px;
}

img.page-header {
    display: block;
    width: 60;
    height: 60;
    border-radius: 8px;
    margin: 0 auto;
}


.flex-item3{
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 400px;
    align-items: center;
}

.project-images {
    display: flex;
    justify-content: space-between;
    width: 300px; 
    height: 300px;
    margin-top: 15px; 
    border-radius: 10px;
}

.flex-item3 h1{
    display: block;
    border-style: solid;
    border-color: #ffffff;
    background-color: #1c00ff;
    border-width: 10px;
    text-align: center;
    justify-content: space-around; 
    font-family: 'Gill Sans', sans-serif;
    color: #ffffff;
    width: 100%;
}

.flex-item3 p{
    text-align: justify;
    justify-content: space-around; 
    font-family: 'Gill Sans', sans-serif;
    color: #1c00ff;
    padding: 10px;

}

/* Modifies the autobiography and skills section*/

.flex-container4 {
    display: flex;
    justify-content: center; 
    align-items: center; 
    border-style: solid;
    border-color: #1c00ff;
    background-color: #1c00ff;
    border-width: 10px;
    flex-direction: row;
}


.flex-item4 p{
    display: flex;
    justify-content: center;
    margin-top: 1px;
    align-items: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Gill Sans', sans-serif;
    color:#ffffff;

}



.flex-item4 p{
    text-align: justify;
    font-family: 'Gill Sans', sans-serif;
    color: #ffffff;
    margin-left: 50px;
    margin-right: 50px;

}

.flex-item5{
    background-color: #ffffff;
}

.flex-item5 p{
    text-align: justify;
    font-family: 'Gill Sans', sans-serif;
    color: #1c00ff;
    margin-left: 50px;
    margin-right: 50px;

}

.flex-item4 h1{
    border-style: solid;
    background-color: #ffffff;
    border-width: 10px;
    text-align: center;
    font-family: 'Gill Sans', sans-serif;
    color: #1c00ff;
}

.flex-item5 h1{
    border-style: solid;
    background-color: #ffffff;
    border-width: 10px;
    text-align: center;
    font-family: 'Gill Sans', sans-serif;
    color: #1c00ff;
}

.language-images{
    width: 100px; 
    height: 100px;
    margin-top: 15px; 
    border-radius: 10px;
    justify-content: center; 
    align-items: center; 
}

/* Modifies the footer section*/
.footer {
    background-color: #ffffff;
    color: 1c00ff;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}


.footer-info {
    font-family: 'Gill Sans', sans-serif;
}

.footer-info a{
    color: #1c00ff;
    text-decoration: none;
    font-weight: bold;
}

.footer-info a:hover {
    text-decoration: underline;
}

.footer-button button {
    background-color: white;
    color: #1c00ff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}

.footer-button button:hover {
    background-color: #ddd;
}


